<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="myCss/mainstylesheet.css" />
    <meta charset = "UTF-8">
    <title>Coming Soon</title>
</head>
<body>
 <div class = "container-fluid cardEffect" id = "main_area">
     <div class = "content">
         <h1> Coming Soon.</h1>
         <p> The social network that puts fitness first</p>
     </div>
 </div>
</body>
</html>