<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <meta charset = "UTF-8">
    <title> Home </title>
</head>
<body>
<h1><%= content.header%></h1>
<p><%= content.content%></p>
<button class = "btn btn-danger", type="button"> Test </button>
</body>
</html>