<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="myCss/mainstylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <meta charset = "UTF-8">
    <title>Home</title>


    <script>
        $(document).ready(function(){
            $("#make_post").click(function(){
                var status = $("#user_input").val();
                var html_to_add;
                    html_to_add = JQUERY4U.UTIL.formatVarString("<div class='container-fluid cardcontainer dropdown_newitem norm_posts row-eq-height'><div class='col-sm-2 no_pad'>\n" +
                    " <div class='col-sm-12 container_card center_text'><img class='profile-picture' src='/link_images/user.png'><div>Jeff Tong</div>\n" +
                    " </div>\n" +
                    " </div>\n" +
                    " <div class='col-sm-10 no_pad'>\n" +
                    " <div class='col-sm-12 container_card template_padding'><p>\n" +
                    " {1}" +
                    " </p>\n" +
                    " <div class='post-meta'>\n" +
                    " <p>Liked by 3 people</p>\n" +
                    " <p><time datetime='2018-4-15 08:00'>4 February 2018 8:00AM</time></p></div>\n" +
                    " <div class='post-interaction'>\n" +
                    " <button class='col-sm-3 btn-default' type='button'>Like</button><button class='col-sm-3 btn-default' type='button'>Comment</button><button class='col-sm-3 btn-default' type='button'>Share</button><button class='col-sm-3 btn-default' type='button'>View Comments</button></div>\n" +
                    " </div>\n" +
                    " </div>\n" +
                    " </div>", status);
                $("#post_creation").after(html_to_add);
            });
        });

        //https://www.sitepoint.com/jquery-string-template-format-function/
        var JQUERY4U = {};
        JQUERY4U.UTIL = {
            formatVarString: function()
            {
                var args = [].slice.call(arguments);
                if(this.toString() != '[object Object]')
                {
                    args.unshift(this.toString());
                }

                var pattern = new RegExp('{([1-' + args.length + '])}','g');
                return String(args[0]).replace(pattern, function(match, index) { return args[index]; });
            }
        }
        JQUERY4U.UTIL.formatVarString('{1} is a {2} aimed to help you learn {3}.', 'jQuery4u', 'blog', 'jQuery');
        //output: "jQuery4u is a blog aimed to help you learn jQuery.

    </script>
</head>
<body>

<div class = "wrapper">

    <!--SideBar-->
    <div id = "sidebar-wrapper">
        <ul class = "sidebar-nav">
            <a href="home" title="Home">
                <li class="active" ><img src="/link_images/home.png" width="30%" height="30%"></li>
            </a>
            <a href="profile" title="Profile">
                <li><img src="/link_images/user.png" width="30%" height="30%"></li>
            </a>
            <a href="workout_builder" title="Workout Builder">
                <li><img src="/link_images/one-dumbbell.png" width="30%" height="30%"></li>
            </a>
            <a href="workout_search" title="Workout Search">
                <li><img src="/link_images/search.png" width="30%" height="30%"></li>
            </a>
            <a href="settings" title="Settings">
                <li><img src="/link_images/settings-gears.png" width="30%" height="30%"></li>
            </a>
        </ul>
    </div>


    <!--Newsfeed Content-->
    <div id = "page-content-wrapper">

        <!--Searchbar-->
        <!--<div class="search-bar container-fluid center_text dropdown">-->
            <!--<div class = "col-sm-1">-->
                 <!--<img src=""-->
            <!--</div>-->
            <!--<div class = "col-sm-11">-->
                <!--<input type="text" name="search" placeholder="Search...">-->
            <!--</div>-->
        <!--</div>-->
        <div class="container-fluid cardcontainer dropdown">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Search</button>
          </span>
            </div>
        </div>

        <!--Sort By-->

        <div class="dropdown sort_by">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Sort By <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Workouts</a></li>
                <li><a href="#">Progress</a></li>
            </ul>
        </div>

        <!--Make a Post-->
        <div class = "container-fluid basic_card dropdown template_padding" id = "post_creation">
            <div class="post-options">
                <button class="col-sm-3 btn-default" type="button" id = "make_post">Make Post</button>
                <button class="col-sm-3 btn-default" type="button" id = "photo_vid">Photo/Video</button>
                <button class="col-sm-3 btn-default" type="button" id = "progress">Update Progress</button>
                <button class="col-sm-3 btn-default" type="button" id = "playlist">Playlist</button>
            </div>
            <textarea class="form-control" rows="5" id = "user_input"></textarea>

        </div>

        <!--Follow request example-->
        <div class="container-fluid basic_card dropdown follow-request">
            <div class="template_padding">
                <img src="/link_images/user.png">
                <p>
                    John Smith wants to follow you
                </p>
                <button class="btn-default" type="button">✓</button>
                <button class="btn-default" type="button">✗</button>
            </div>
        </div>

        <!--Example posts-->
        <div class="container-fluid cardcontainer dropdown norm_posts row-eq-height">

            <div class="col-sm-2 no_pad">
                <div class="col-sm-12 container_card center_text">
                    <img class="profile-picture" src="/link_images/user.png">
                    <div>Jeff Tong</div>
                </div>
            </div>

            <div class="col-sm-10 no_pad">
                <div class="col-sm-12 container_card template_padding">
                    <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                    of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                    desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                    search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                    evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                    of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                    desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                    search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                    evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    </p>

                    <div class="post-meta">
                        <p>Liked by 3 people</p>
                        <p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>
                    </div>

                    <div class="post-interaction">
                        <button class="col-sm-3 btn-default" type="button">Like</button>
                        <button class="col-sm-3 btn-default" type="button">Comment</button>
                        <button class="col-sm-3 btn-default" type="button">Share</button>
                        <button class="col-sm-3 btn-default" type="button">View Comments</button>
                    </div>
                </div>
            </div>

        </div>

        <div class = "container-fluid cardcontainer dropdown row-eq-height">

            <div class = "col-sm-2 no_pad">
                <div class = "col-sm-12 container_card center_text">
                    <img class="profile-picture" src="/link_images/user.png">
                    <div>Jeff Tong</div>
                </div>
            </div>

            <div class = "col-sm-10 no_pad">
                <div class = "col-sm-12 container_card template_padding">

                    <img class="image template_padding" src="/link_images/004-polished-wood.png">
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.
                    </p>

                    <div class="post-meta">
                        <p>Liked by 3 people</p>
                        <p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>
                    </div>

                    <div class="post-interaction">
                        <button class="col-sm-3 btn-default" type="button">Like</button>
                        <button class="col-sm-3 btn-default" type="button">Comment</button>
                        <button class="col-sm-3 btn-default" type="button">Share</button>
                        <button class="col-sm-3 btn-default" type="button">View Comments</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid cardcontainer dropdown row-eq-height">

            <div class="col-sm-2 no_pad">
                <div class="col-sm-12 container_card center_text">
                    <img class="profile-picture" src="/link_images/user.png">
                    <div>Jeff Tong</div>
                </div>
            </div>

            <div class="col-sm-10 no_pad">
                <div class="col-sm-12 container_card template_padding">
                    <p><b>Chest Workout</b></p>
                    <ul class="progress-list">
                        <li>Bench Press: 5x3 110kg</li>
                        <li>Incline Dumbbell Press: 5x8 32kg</li>
                        <li>Decline Bench Press: 5x5 70kg</li>
                        <li>Dumbbell Flyes: 5x10 12kg</li>
                    </ul>

                    <div class="post-meta">
                        <p>Liked by 3 people</p>
                        <p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>
                    </div>
                    <div class="post-interaction">
                        <button class="col-sm-3 btn-default" type="button">Like</button>
                        <button class="col-sm-3 btn-default" type="button">Comment</button>
                        <button class="col-sm-3 btn-default" type="button">Share</button>
                        <button class="col-sm-3 btn-default" type="button">View Comments</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid cardcontainer dropdown row-eq-height">

            <div class="col-sm-2 no_pad">
                <div class="col-sm-12 container_card center_text">
                    <img class="profile-picture" src="/link_images/user.png">
                    <div>Jeff Tong</div>
                </div>
            </div>

            <div class="col-sm-10 no_pad">
                <div class="col-sm-12 container_card template_padding">
                    <p><b>Workout Beats</b></p>
                    <ol>
                        <li>Song A</li>
                        <li>Song E</li>
                        <li>Song G</li>
                        <li>Song C</li>
                    </ol>

                    <div class="post-meta">
                        <p>Liked by 3 people</p>
                        <p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>
                    </div>
                    <div class="post-interaction">
                        <button class="col-sm-3 btn-default" type="button">Like</button>
                        <button class="col-sm-3 btn-default" type="button">Comment</button>
                        <button class="col-sm-3 btn-default" type="button">Share</button>
                        <button class="col-sm-3 btn-default" type="button">View Comments</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>