<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="myCss/mainstylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <meta charset = "UTF-8">
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">


    <!--Custom Javascript for make post and follow accept/reject-->
    <!--Make post submit works just as an example of functionality-->
    <script src = "/link_js/home.js"></script>

</head>
<body>

<div class = "wrapper">

    <!--SideBar-->
    <div id = "sidebar-wrapper">
        <ul class = "sidebar-nav">
            <a href="home" title="Home">
                <li class="active" ><img src="/link_images/home.png" width="30%" height="30%"></li>
            </a>
            <a href="profile" title="Profile">
                <li><img src="/link_images/user.png" width="30%" height="30%"></li>
            </a>
            <a href="workout_builder" title="Workout Builder">
                <li><img src="/link_images/one-dumbbell.png" width="30%" height="30%"></li>
            </a>
            <a href="workout_search" title="Workout Search">
                <li><img src="/link_images/search.png" width="30%" height="30%"></li>
            </a>
            <a href="settings" title="Settings">
                <li><img src="/link_images/settings-gears.png" width="30%" height="30%"></li>
            </a>
        </ul>
    </div>


    <!--Newsfeed Content-->
    <div id = "page-content-wrapper">
        <div class="container-fluid cardcontainer dropdown">
            <div class="input-group">
                <input type="text" class="form-control search_field" placeholder="Search for...">
                <span class="input-group-btn">
            <button class="btn btn-secondary search_btn" type="button">Search</button>
          </span>
            </div>
        </div>

        <!--Sort By-->

        <!--<div class="dropdown sort_by">-->
            <!--<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">-->
                <!--Sort By <span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Workouts</a></li>-->
                <!--<li><a href="#">Progress</a></li>-->
            <!--</ul>-->
        <!--</div>-->

        <!--Make a Post-->
        <div class = "container-fluid basic_card dropdown template_padding" id = "post_creation">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#make_post">Make Post</a></li>
                <li><a data-toggle="tab" href="#photo_video">Photo/Video</a></li>
                <li><a data-toggle="tab" href="#update_progress">Update Progress</a></li>
                <li><a data-toggle="tab" href="#playlist">Playlist</a></li>
            </ul>

            <div class="tab-content">

                <!--<div id="make_post" class="tab-pane fade in active">-->
                <!--</div>-->

                <!--Tab 1-->
                <div id="make_post" class="tab-pane fade in active">
                    <div class = "sub_title"><b> Make post </b></div>
                    <div class = "form-group variable_section text-right">
                        <textarea class="form-control" rows="5" id = "user_input"></textarea>
                        <button type="button" class="btn btn-default sub" id = "sub_make_post">Submit</button>
                    </div>
                </div>

                <!--Tab 2-->
                <div id="photo_video" class="tab-pane fade">
                    <div class="form-group">
                        <label>Upload image</label>
                        <div class="input-group">
                        <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Browse… <input type="file" id="imgInp">
                             </span>
                        </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <img id='img-upload'/>
                    </div>
                    <div> Add a comment </div>
                    <div class = "form-group text-right">
                        <textarea class="form-control" rows="5" id = "photo_description"></textarea>
                        <button type="submit" class="btn btn-default sub" id = "sub_post_photo">Submit</button>
                    </div>
                </div>

                <!--Tab 3-->
                <div id="update_progress" class="tab-pane fade">
                    <div class="form-group">
                        <label for="sel1">Select workout</label>
                        <select class="form-control" id="sel1">
                            <option>Monday legs</option>
                            <option>Everyday arms</option>
                            <option>Cardio city</option>
                            <option>My legs hurt so much</option>
                        </select>
                    </div>

                    <div>
                        <div class = "col-sm-4">
                            <div class="form-group">
                                <label>Squats</label><br>
                                <input type="text" size="2" class="form-control upda" placeholder="New PR" />
                            </div>
                        </div>
                        <div class = "col-sm-4">
                            <div class="form-group">
                                <label>Leg Press</label><br>
                                <input type="text" size="2" class="form-control upda" placeholder="New PR" />
                            </div>
                        </div>
                        <div class = "col-sm-4">
                            <div class="form-group">
                                <label>Deadlifts</label><br>
                                <input type="text" size="2" class="form-control upda" placeholder="New PR" />
                            </div>
                        </div>
                    </div>
                    <div class = "form-group variable_section text-right">
                        <button type="submit" class="btn btn-default sub" id = "sub_post_update">Submit</button>
                    </div>
                </div>

                <!--Tab 4-->
                <div id="playlist" class="tab-pane fade">
                    <div class = "sub_title"><b> New playlist </b></div>
                    <div class = "form-group variable_section text-right">
                        <textarea class="form-control" rows="5" id = "playlist_input"></textarea>
                        <button type="submit" class="btn btn-default sub" id = "sub_post_playlist">Submit</button>
                    </div>
                </div>
            </div>

        </div>

        <!--<div id="posts">-->
        <div class = "container-fluid basic_card dropdown template_padding loaderContainer">
            <div class="loader"></div>
        </div>

        </div>

        <!--Follow request example-->
        <!--<div class="container-fluid basic_card dropdown follow-request">-->
            <!--<div class="template_padding">-->
                <!--<img src="/link_images/user.png">-->
                <!--<p>-->
                    <!--John Smith wants to follow you-->
                <!--</p>-->
                <!--<button class="btn btn-default" type="button" id ="friend">✓</button>-->
                <!--<button class="btn btn-default" type="button" id = "friend2">✗</button>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;Example posts&ndash;&gt;-->
        <!--<div class="container-fluid cardcontainer dropdown norm_posts row-eq-height">-->

            <!--<div class="col-sm-2 no_pad">-->
                <!--<div class="col-sm-12 container_card center_text">-->
                    <!--<img class="profile-picture" src="/link_images/user.png">-->
                    <!--<div>Jeff Tong</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-sm-10 no_pad">-->
                <!--<div class="col-sm-12 container_card template_padding">-->
                    <!--<p>-->
                    <!--It is a long established fact that a reader will be distracted by the readable content of a page when-->
                    <!--looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution-->
                    <!--of letters, as opposed to using 'Content here, content here', making it look like readable English. Many-->
                    <!--desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a-->
                    <!--search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have-->
                    <!--evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).-->
                    <!--It is a long established fact that a reader will be distracted by the readable content of a page when-->
                    <!--looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution-->
                    <!--of letters, as opposed to using 'Content here, content here', making it look like readable English. Many-->
                    <!--desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a-->
                    <!--search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have-->
                    <!--evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).-->
                    <!--</p>-->

                    <!--<div class="post-meta">-->
                        <!--<p>Liked by 3 people</p>-->
                        <!--<p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>-->
                    <!--</div>-->

                    <!--<div class="btn-group btn-group-justified">-->
                        <!--<a href='javascript:void();' class="btn btn-default like" data-content = "julianlee98@gmail.com">Like</a>-->
                        <!--<a href="#" class="btn btn-default">Comment</a>-->
                        <!--<a href="#" class="btn btn-default">Share</a>-->
                        <!--<a href="#" class="btn btn-default">View Comments</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <!--&lt;!&ndash;Example post&ndash;&gt;-->
        <!--<div class = "container-fluid cardcontainer dropdown row-eq-height">-->

            <!--<div class = "col-sm-2 no_pad">-->
                <!--<div class = "col-sm-12 container_card center_text">-->
                    <!--<img class="profile-picture" src="/link_images/user.png">-->
                    <!--<div>Jeff Tong</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class = "col-sm-10 no_pad">-->
                <!--<div class = "col-sm-12 container_card template_padding">-->

                    <!--<img class="image template_padding" src="/link_images/me.jpg">-->
                    <!--<p>-->
                        <!--It is a long established fact that a reader will be distracted by the readable content of a page-->
                        <!--when looking at its layout.-->
                    <!--</p>-->

                    <!--<div class="post-meta">-->
                        <!--<p>Liked by 3 people</p>-->
                        <!--<p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>-->
                    <!--</div>-->

                    <!--<div class="btn-group btn-group-justified">-->
                        <!--<a href='javascript:void();' class="btn btn-default like">Like</a>-->
                        <!--<a href="#" class="btn btn-default">Comment</a>-->
                        <!--<a href="#" class="btn btn-default">Share</a>-->
                        <!--<a href="#" class="btn btn-default">View Comments</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <!--&lt;!&ndash;Example post&ndash;&gt;-->
        <!--<div class="container-fluid cardcontainer dropdown row-eq-height">-->

            <!--<div class="col-sm-2 no_pad">-->
                <!--<div class="col-sm-12 container_card center_text">-->
                    <!--<img class="profile-picture" src="/link_images/user.png">-->
                    <!--<div>Jeff Tong</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-sm-10 no_pad">-->
                <!--<div class="col-sm-12 container_card template_padding">-->
                    <!--<p><b>Chest Workout</b></p>-->
                    <!--<ul class="progress-list">-->
                        <!--<li>Bench Press: 5x3 110kg</li>-->
                        <!--<li>Incline Dumbbell Press: 5x8 32kg</li>-->
                        <!--<li>Decline Bench Press: 5x5 70kg</li>-->
                        <!--<li>Dumbbell Flyes: 5x10 12kg</li>-->
                    <!--</ul>-->

                    <!--<div class="post-meta">-->
                        <!--<p>Liked by 3 people</p>-->
                        <!--<p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>-->
                    <!--</div>-->
                    <!--<div class="btn-group btn-group-justified">-->
                        <!--<a href='javascript:void();' class="btn btn-default like">Like</a>-->
                        <!--<a href="#" class="btn btn-default">Comment</a>-->
                        <!--<a href="#" class="btn btn-default">Share</a>-->
                        <!--<a href="#" class="btn btn-default">View Comments</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <!--&lt;!&ndash;Example post&ndash;&gt;-->
        <!--<div class="container-fluid cardcontainer dropdown row-eq-height">-->

            <!--<div class="col-sm-2 no_pad">-->
                <!--<div class="col-sm-12 container_card center_text">-->
                    <!--<img class="profile-picture" src="/link_images/user.png">-->
                    <!--<div>Jeff Tong</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-sm-10 no_pad">-->
                <!--<div class="col-sm-12 container_card template_padding">-->
                    <!--<p><b>Workout Beats</b></p>-->
                    <!--<ol>-->
                        <!--<li>Song A</li>-->
                        <!--<li>Song E</li>-->
                        <!--<li>Song G</li>-->
                        <!--<li>Song C</li>-->
                    <!--</ol>-->

                    <!--<div class="post-meta">-->
                        <!--<p>Liked by 3 people</p>-->
                        <!--<p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>-->
                    <!--</div>-->
                    <!--<div class="btn-group btn-group-justified">-->
                        <!--<a href='javascript:void();' class="btn btn-default like">Like</a>-->
                        <!--<a href="#" class="btn btn-default">Comment</a>-->
                        <!--<a href="#" class="btn btn-default">Share</a>-->
                        <!--<a href="#" class="btn btn-default">View Comments</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    </div>
</div>
</body>
</html>