<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="myCss/mainstylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <meta charset = "UTF-8">
    <title>Login</title>


    <script>
        $(document).ready(function(){
        });
    </script>
</head>
<body>
<div class = "wrapper">
    <div class = " container-fluid">
        <div class = "container-fluid login-container dropdown row-eq-height">

            <div class = "col-sm-7 no_pad">

                <!--Website Offerings-->
                <div class = "col-sm-12 container_card">
                    <h1 class = "fancy template_padding center_text">FITWORK</h1>
                    <div class="offering">
                        <p class="offering"><img src="/link_images/user.png">Connect with friends in fitness</p>
                        <p class="offering"><img src="/link_images/search.png">Find workouts suited to your needs</p>
                        <p class="offering"><img src="/link_images/one-dumbbell.png">Track your progress</p>
                    </div>
                </div>
            </div>

            <div class = "col-sm-5 no_pad">
                <div class = "col-sm-12 container_card">
                    <!--Log in form-->
                    <form class="log-in-form">
                        <div class="form-row">
                            <!--Email log in-->
                            <div class="form-group col-sm-5">
                                <label class="sr-only" for="logInEmail">Email Address</label>
                                <input type="email" class="form-control" id="logInEmail" placeholder="Enter email">
                            </div>
                            <!--Password log in-->
                            <div class="form-group col-sm-5 pl-0">
                                <label class="sr-only" for="logInPassword">Password</label>
                                <input type="password" class="form-control" id="logInPassword" placeholder="Password">
                            </div>
                            <!--Log in button-->
                            <div class="col-sm-2 pl-0">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                        </div>
                    </form>

                    <h2 class="col-sm-12">Sign Up</h2>
                    <!--Sign up form-->
                    <form>
                        <!--First name & last name-->
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="signUpFName">First Name</label>
                                <input type="text" class="form-control" id="signUpFName" placeholder="First name">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="signUpLName">Last name</label>
                                <input type="text" class="form-control" id="signUpLName" placeholder="Last name">
                            </div>
                        </div>
                        <!--Email-->
                        <div class="form-group col-sm-12">
                            <label for="signUpEmail">Email address</label>
                            <input type="email" class="form-control" id="signUpEmail" placeholder="Enter email">
                        </div>
                        <!--Username-->
                        <div class="form-group col-sm-12">
                            <label for="signUpUsername">Username</label>
                            <input type="text" class="form-control" id="signUpUsername" placeholder="Username">
                        </div>
                        <!--Password-->
                        <div class="form-group col-sm-12">
                            <label for="signUpPassword">Password</label>
                            <input type="password" class="form-control" id="signUpPassword"
                                   aria-describedby="passwordDetails" placeholder="Password">
                            <small id="passwordDetails" class="form-text text-muted">
                                Your password must be 8-20 characters long, contain letters and numbers,
                                and must not contain spaces, special characters, or emoji.
                            </small>
                        </div>

                        <div class="sign-up-button">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
</div>
</body>
</html>