<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="myCss/mainstylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <meta charset = "UTF-8">
    <title>Login</title>


    <script>
    </script>
</head>
<body>
<div class = "wrapper">
    <div class = " container-fluid">
        <div class = "container-fluid login-container dropdown_login row-eq-height">

            <div class = "col-sm-7 no_pad">

                <!--Website Offerings-->
                <div class = "col-sm-12 container_card">
                    <h1 class = "fancy template_padding center_text">FITWORK</h1>
                    <div class="offering">
                        <p class="offering"><img src="/link_images/user.png">Connect with friends in fitness</p>
                        <p class="offering"><img src="/link_images/search.png">Find workouts suited to your needs</p>
                        <p class="offering"><img src="/link_images/one-dumbbell.png">Track your progress</p>
                    </div>
                </div>
            </div>

            <div class = "col-sm-5 no_pad">
                <div class = "col-sm-12 container_card login_padding">
                    <!--Log in form-->
                    <form action = "/submitLogin" class="log-in-form"  method="post">
                        <div class="form-row">
                            <!--Email log in-->
                            <div class="form-group col-sm-5">
                                <label>Email Address</label>
                                <input type="email" name = "email" class="form-control" id="logInEmail" placeholder="Enter email">
                            </div>
                            <!--Password log in-->
                            <div class="form-group col-sm-5">
                                <label>Password</label>
                                <input type="password" name = "password" class="form-control" id="logInPassword" placeholder="Password">
                            </div>
                            <!--Log in button-->
                            <div class="col-sm-2 btn_fix">
                                <!--<button type="button" class="btn btn-primary make_btn_orange" id = "loginBtn">Log in</button>-->
                                <button type="submit" class="btn btn-primary make_btn_orange">Log in</button>
                            </div>
                        </div>
                    </form>
                    <div class = "invalidText"> Invalid Email/Password please try again* </div>

                    <hr>
                    <div class = "text-center"> <h1> OR </h1> </div>
                    <hr>
                    <h2 class="col-sm-12">Sign Up</h2>
                    <!--Sign up form-->
                    <div class="sign-up-form">
                        <form action = "/submitSignup" method = "post">
                            <!--First name & last name-->
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="signUpFName">First Name</label>
                                    <input type="text" name="fname" class="form-control" id="signUpFName" placeholder="First name">
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="signUpLName">Last name</label>
                                    <input type="text" name = "lname" class="form-control" id="signUpLName" placeholder="Last name">
                                </div>
                            </div>
                            <!--Email-->
                            <div class="form-group col-sm-12">
                                <label for="signUpEmail">Email address</label>
                                <input type="email" class="form-control" name = "email" id="signUpEmail" placeholder="Enter email">
                            </div>
                            <!--About-->
                            <div class="form-group col-sm-12">
                                <label for="signUpUsername">About</label>
                                <input type="text" class="form-control" id="signUpUsername" name = "username" placeholder="Username">
                            </div>
                            <!--Password-->
                            <div class="form-group col-sm-12">
                                <label for="signUpPassword">Password</label>
                                <input type="password" class="form-control" id="signUpPassword" name = "password"
                                       aria-describedby="passwordDetails" placeholder="Password">
                                <small id="passwordDetails" class="form-text text-muted">
                                    Your password must be 8-20 characters long, contain letters and numbers,
                                    and must not contain spaces, special characters, or emoji.
                                </small>
                            </div>
                            <div class="button">
                                <!--<button type="button" class="btn btn-primary make_btn_orange" id = "signupBtn">Submit</button>-->
                                <button type="submit" class="btn btn-primary make_btn_orange">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>