<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="myCss/mainstylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <meta charset = "UTF-8">
    <title>Profile</title>

    <!--Custom Javascript-->
    <script src = "/link_js/profile.js"></script>

</head>
<body>
<div class = "wrapper">


    <!--SideBar-->
    <div id = "sidebar-wrapper">
        <ul class = "sidebar-nav">
            <a href="home" title="Home">
                <li><img src="/link_images/home.png" width="30%" height="30%"></li>
            </a>
            <a href="profile" title="Profile">
                <li class="active"><img src="/link_images/user.png" width="30%" height="30%"></li>
            </a>
            <a href="workout_builder" title="Workout Builder">
                <li><img src="/link_images/one-dumbbell.png" width="30%" height="30%"></li>
            </a>
            <a href="workout_search" title="Workout Search">
                <li><img src="/link_images/search.png" width="30%" height="30%"></li>
            </a>
            <a href="settings" title="Settings">
                <li><img src="/link_images/settings-gears.png" width="30%" height="30%"></li>
            </a>
        </ul>
    </div>

    <div class = " container-fluid " id = "page-content-wrapper">

        <div class="container-fluid cardcontainer dropdown norm_posts row-eq-height">

            <div class="col-sm-4 no_pad">
                <div class="col-sm-12 container_card center_text">
                    <img class="main-profile-picture" src="/link_images/user.png"">
                    <div class = "main-name"><b>Julian Lee</b></div>
                </div>
            </div>
            <div class="col-sm-8 no_pad">
                <div class="col-sm-12 container_card template_padding">
                    <b> About me: </b>
                        <hr>
                    <p>
                        Trying to lose enough weight to fit into a latex bodysuit, Join me on my journey!

                    </p>

                    <hr>

                    <p> Quote of the day: </p>

                    <p>
                        <i>
                            Strength does not come from winning. Your struggles develop your strengths. When you go through hardships and decide not to surrender, that is strength.
                            -Arnold schwarzenegger
                        </i>
                    </p>

                    <button type = "button" class =" btn btn-default btn_follow"> Follow </button>
                </div>
            </div>

        </div>

        <div class="container-fluid cardcontainer dropdown norm_posts row-eq-height">

            <div class="col-sm-6 no_pad">
                <div class="col-sm-12 container_card template_padding center_text">
                    Followers: 10
                </div>
            </div>

            <div class="col-sm-6 no_pad">
                <div class="col-sm-12 container_card template_padding center_text">
                    Following: 20
                </div>
            </div>
        </div>

        <div class = "container-fluid basic_card_scroll dropdown template_padding">
            <b class="title_text"> Workout plans: </b>
            <div class="container-fluid scroll">
                <div class = "a col-xs-4">
                    <div class="col-sm-12 center_text">
                        <div class = "title_text"><b> After work arms</b> </div>
                        <p> Duration: 50 minutes</p>
                        <p> Body part: Arms </p>
                        <p> Intensity: Medium </p>
                        <p> Difficulty: Intermediate </p>
                    </div>
                </div>
                <div class = "a col-xs-4">
                    <div class="col-sm-12 center_text">
                        <div class = "title_text"><b> After work arms</b> </div>
                        <p> Duration: 50 minutes</p>
                        <p> Body part: Arms </p>
                        <p> Intensity: Medium </p>
                        <p> Difficulty: Intermediate </p>
                    </div>
                </div>
                <div class = "a col-xs-4">
                    <div class="col-sm-12 center_text">
                        <div class = "title_text"><b> After work arms</b> </div>
                        <p> Duration: 50 minutes</p>
                        <p> Body part: Arms </p>
                        <p> Intensity: Medium </p>
                        <p> Difficulty: Intermediate </p>
                    </div>
                </div>
                <div class = "a col-xs-4">
                    <div class="col-sm-12 center_text">
                        <div class = "title_text"><b> After work arms</b> </div>
                        <p> Duration: 50 minutes</p>
                        <p> Body part: Arms </p>
                        <p> Intensity: Medium </p>
                        <p> Difficulty: Intermediate </p>
                    </div>
                </div>
                <div class = "a col-xs-4">
                    <div class="col-sm-12 plus">
                        +
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid cardcontainer dropdown row-eq-height">

            <div class="col-sm-6 no_pad">
                <div class="col-sm-12 container_card template_padding2 fix">
                    <div class = "title_text2">
                        <b>Julian's playlist: </b>
                    </div>
                    <iframe src="https://tools.applemusic.com/embed/v1/playlist/pl.u-JPj3tWmLe4b?country=au" height="530px" width="100%" frameborder="0"></iframe>
                </div>
            </div>

            <div class="col-sm-6 no_pad">
                <div class="col-sm-12 container_card_scrollable template_padding2 ">
                    <div class = "title_text2"> <b> Latest updates: </b></div>
                        <div class=" basic_smoll">
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when
                                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                                desktop publishicident,
                            </p>

                            <div class="post-meta">
                                <p>Liked by 3 people</p>
                                <p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>
                            </div>

                            <div class="btn-group btn-group-justified">
                                <a href="#" class="btn btn-default">Like</a>
                                <a href="#" class="btn btn-default">Comment</a>
                                <a href="#" class="btn btn-default">Share</a>
                            </div>
                        </div>
                    <div class=" basic_smoll">
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                            of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                            desktop publishicident,
                        </p>

                        <div class="post-meta">
                            <p>Liked by 3 people</p>
                            <p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>
                        </div>

                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-default">Like</a>
                            <a href="#" class="btn btn-default">Comment</a>
                            <a href="#" class="btn btn-default">Share</a>
                        </div>
                    </div>
                    <div class=" basic_smoll">
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                            of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                            desktop publishicident,
                        </p>

                        <div class="post-meta">
                            <p>Liked by 3 people</p>
                            <p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>
                        </div>

                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-default">Like</a>
                            <a href="#" class="btn btn-default">Comment</a>
                            <a href="#" class="btn btn-default">Share</a>
                        </div>
                    </div>
                    <div class=" basic_smoll">
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                            of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                            desktop publishicident,
                        </p>

                        <div class="post-meta">
                            <p>Liked by 3 people</p>
                            <p><time datetime="2018-4-15 08:00">4 February 2018 8:00AM</time></p>
                        </div>

                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-default">Like</a>
                            <a href="#" class="btn btn-default">Comment</a>
                            <a href="#" class="btn btn-default">Share</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>
</body>
</html>