body{
    background-image: url("Images/bg.jpg");
    overflow:hidden;
    /*background-color: #22264b;*/
}

/*ANIMATION STUFF*/
@keyframes drop {
    0%{opacity: 0}
    70%{ transform: translateY(1050px)}
    100%{transform: translateY(850px); opacity: 0.9;}
}
@keyframes rise {
    0%{opacity: 0}
    70%{ transform: translateY(-700px)}
    100%{transform: translateY(-680px); opacity: 0.9;}
}

#main_area {
    background-color: #f1f1f1;
    position: relative;
    opacity: 0.8;
    width: 60%;
    height: 45%;
    top: -800px;
    animation: drop 1s ease forwards;
}


/* TEMPLATES FOR EASE OF USE */

.template_card {
    margin-top: 1.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.template_card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.template_padding {
    margin-top: 1%;
    margin-bottom: 1%;
}

.center_text{
    text-align: center;
}




/*Sidebar CSS */
#sidebar-wrapper {
    z-index:1;
    position: absolute;
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    background: #2C3E50;
    opacity: 0.9;
}

#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding-left: 250px;
}


.sidebar-nav{
    padding:0;
    list-style: none;
}

.sidebar-nav li{
    text-indent: 40%;
    line-height: 100px;
}

.sidebar-nav li span{
    display:block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav ul li span:hover{
    background: black;
}

































#registration_area {
    background-color: #f1f1f1;
    position: relative;
    opacity: 0;
    width: 60%;
    height: 25%;
    padding: 0.5% 0 0.5% 0;
    top: 800px;
}

.logo{
    font-family: 'Syncopate', sans-serif;
    color: #e05915;
}

.sub{
    font-size: 15px;
}

.comingsoon{
    font-size: 25px;
}

.names{
    font-size: 9px;
    color: #e05915;
    margin-bottom: 2%;
}

.animate{
    animation: rise 1s ease forwards;
}
.emailreg{
    margin-left: 1%;
}

.fancy {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 70px;
    margin-bottom: 0px;
}

.cardEffect {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


.cardEffect:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.description {
    margin: 2% 10% 0px 10%;
}

.mainfont {
    font-family: 'Metrophobic', sans-serif;
}

.content{
    text-align: center;
    padding-top: 5%;
    /*padding-left: 1%;*/
}

.buttonArea{
    text-align: center;
    padding-top: 2%;
    margin-bottom: 5%;
}

.orange{
    color: #e05915;
}

.btn-warning {
    background-color: #e05915 !important;
}

.btn-warning:hover , .btn-warning:active, .btn-warning:visited{
    background-color: #854210; !important;
}
