body{
    background-image: url("Images/bg.jpg");
    overflow:hidden;
    /*background-color: #22264b;*/
}

#main_area {
    background-color: #f1f1f1;
    position: relative;
    opacity: 0.8;
    width: 60%;
    height: 45%;
    top: -800px;
    animation: drop 1s ease forwards;
}
#registration_area {
    background-color: #f1f1f1;
    position: relative;
    opacity: 0;
    width: 60%;
    height: 25%;
    padding: 0.5% 0 0.5% 0;
    top: 800px;
}

.logo{
    font-family: 'Syncopate', sans-serif;
    color: #e05915;
}

.sub{
    font-size: 15px;
}

.comingsoon{
    font-size: 25px;
}

.names{
    font-size: 9px;
    color: #e05915;
    margin-bottom: 2%;
}

.animate{
    animation: rise 1s ease forwards;
}
.emailreg{
    margin-left: 1%;
}

.fancy {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 70px;
    margin-bottom: 0px;
}

.cardEffect {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cardEffect:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.description {
    margin: 2% 10% 0px 10%;
}

.mainfont {
    font-family: 'Metrophobic', sans-serif;
}

.content{
    text-align: center;
    padding-top: 5%;
    /*padding-left: 1%;*/
}

.buttonArea{
    text-align: center;
    padding-top: 2%;
    margin-bottom: 5%;
}

.orange{
    color: #e05915;
}

.btn-warning {
    background-color: #e05915 !important;
}

.btn-warning:hover , .btn-warning:active, .btn-warning:visited{
    background-color: #854210; !important;
}

/*ANIMATION STUFF*/
@keyframes drop {
    0%{opacity: 0}
    70%{ transform: translateY(1050px)}
    100%{transform: translateY(900px); opacity: 0.9;}
}
@keyframes rise {
    0%{opacity: 0}
    70%{ transform: translateY(-700px)}
    100%{transform: translateY(-680px); opacity: 0.9;}
}